body {
    background-image: url("../images/image3.jpeg")
}
.jumbotron {
 position: relative;
 padding: 10px;
}
a{ word-wrap: break-word;

}
h2, a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}