body {
    background-image: url("../images/image3.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}
.jumbotron {
 position: relative;
 padding: 10px;
 background-color: rgba(128, 128, 128, 0.486);

}

a{ 
    word-wrap: break-word;
    color: rgb(209, 207, 207);
    font-size: 15px; 

}

.restaurants{text-align: center;

}

h2 {
    text-align: center;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px black; 
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px black; 
}

label{
    color: white;
    font-size:25px;
}
a {
    font-size: 15px; 
    text-shadow: 1px 1px black;  
    color: white; 
}



.title{
    
    font-size: 20px;
    color: black;
    
}
.footer {
    position: fixed;
    bottom: 10px;
    right: 70px;
}
hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
}
span {
    display:table;
    margin:0 auto;
    }
.btn-primary{
    background-color:rgb(255, 193, 58);
    border-color: black;
}
#runSearch, #submit, #cookItButton, button{
    background-color:rgb(255, 193, 58);
    border-color: black; 
    color: white;
    text-shadow: 1px 1px black;
}

.form-control{
    width:33%;
}  

.bg-light {
    background-color: transparent!important;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;   
    text-shadow: 2px 2px black; 
}
@media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .button {
      width: 12rem;
    }
  }
  
  @media(max-height: 700px) {
    .button {
      top: 70%;
    }
  }
