body {
    background-image: url("../images/image3.jpeg")
}
.jumbotron {
 position: relative;
 padding: 10px;
 background-color: rgba(128, 128, 128, 0.486);
}
a{ word-wrap: break-word;

}
h2, a{
   
    font-size: 15px;
    color: rgb(151, 148, 148);
}
label{
    color: white;
    font-size:25px;
}
a{
    font-size: 12x; 
}

.title{
    font-family: 'Great Vibes', cursive; 
    font-size: 25px;
    color: white;
}